<!-- First container (form) -->
<div class="container justify-content-center">
  <div class="card mt-3">
    <div class="card-body">
      <div class="">

        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button custom-accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <h3><img src="/assets/images/target.png" alt="Bootstrap" width="40" height="40">&nbsp;
                  <strong>Reporting des Modéles Prédictifs par Canal</strong></h3>
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <form [formGroup]="reportOutputFileFormGroup" class="was-validated">
                  <div class="mb-3">
                    <label><strong>NOM DU MODELE PREDICTIF:</strong></label>
                    <select class="form-select form-select mb-3"
                            formControlName="predictiveModelId"
                            (change)="onPredictiveModelSelect($event)" required>
                      <option value="">Selectionner un Modéle  Prédictif</option>
                      <option *ngFor="let listPM of listOfPredictiveModel | async" [value]="listPM.id">
                        {{ listPM.namePM }}
                      </option>
                    </select>
                    <div class="invalid-feedback">Merci de choisir un Modéle Prédictif</div>
                  </div>

                  <div class="mb-3">
                    <label><strong>DATE DU CIBLE:</strong></label>
                    <input type="month" class="form-control"
                           formControlName="dateGeneration"
                           (change)="onDateSelect($event)" required>
                    <div class="invalid-feedback">Merci de choisir une Date</div>
                  </div>

                  <div class="mb-3">
                    <label><strong>CHOISIR UN CANAL:</strong></label>

                    <select class="form-select form-select mb-3"
                            formControlName="canalName"
                            (change)="onCanalSelect($event)" required>
                      <option value="">Selectionner un Canal</option>
                      <option *ngFor="let listCanals of listOfCanals | async" [value]="listCanals.intituleCanal">
                        {{ listCanals.intituleCanal }}
                      </option>
                    </select>

                  </div>

                </form>

              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="container mt-3">
        <div class="row justify-content-md-center">
          <!--  CARD FOR (DR chart) -->
          <div class="col-6">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-center">
                  <div style="width: 500px; height: 500px;">
                    <div><app-pie-chart-dr [reportingByDRData] ="reportingByDR"></app-pie-chart-dr></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--  CARD FOR (SEGMENT chart) -->
          <div class="col-6">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-center">
                  <div style="width: 500px; height: 500px;">
                    <div><app-pie-chart-segment [reportingBySegmentData] ="reportingBySegment"></app-pie-chart-segment></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <!--  CARD FOR (MARCHE chart) -->
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-center">
                  <div style="width: 500px; height: 500px;">
                    <div><app-pie-chart-marche [reportingByMarcheData] ="reportingByMarche"></app-pie-chart-marche></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
