.custom-accordion-button {
  background-color: rgba(87, 78, 78, 0.31); /* Change to your desired color */
  color: rgb(16, 13, 93); /* Change to your desired text color */
  border-color: rgb(203, 53, 51); /* Change to match the background color or customize as needed */
}
