<!-- Navbar -->
<div>
<nav class="navbar sticky-top navbar-expand-lg navbar-light"  style="background-color: #F5F5F5;">

  <!-- Container wrapper -->
    <!-- Navbar brand -->
    <div class="logo col-2">
      &nbsp;&nbsp;&nbsp;&nbsp;<img src="../../assets/images/logo-SG.png" style="width:160px;height:25px;">
    </div>

  <!-- Collapsible wrapper -->

      <!-- Left links -->
    <div class="container col-8 mt-2">

      <ul class="navbar-nav h6 custom-spacing"  style="font-size: medium; font-weight: bold" >
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/admin/dashboard">
              <img src="/assets/images/presentation.png" alt="Bootstrap" width="25" height="25"> DASHBOARD
            </a>
          </li>

          <li class="nav-item dropdown" style="margin-left: 20px;">
            <a class="nav-link link-dark dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="/assets/images/analysing2.png" alt="Bootstrap" width="25" height="25">  MODELES PREDICTIFS
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item small-dropdown-item" routerLink="/admin/predictive-models">CONSULTER LES MODELES PREDICTIFS</a></li>
              <li><hr class="dropdown-divider" *ngIf="securityService.hasRoleIn(['ADMIN'])" ></li>
              <li><a class="dropdown-item small-dropdown-item" routerLink="/admin/new-predictive-model"
                     *ngIf="securityService.hasRoleIn(['ADMIN'])" >AJOUTER NOUVEAU MODELE </a></li>
              <li><a class="dropdown-item small-dropdown-item" routerLink="/admin/new-pm-scope-canals-frequency"
                     *ngIf="securityService.hasRoleIn(['ADMIN'])" >AJOUTER DES PARAMETRES AU MODELE</a></li>
              <li><a class="dropdown-item small-dropdown-item" routerLink="/admin/new-pm-features"
                     *ngIf="securityService.hasRoleIn(['ADMIN'])" >AJOUTER DES FEATURES AU MODELE</a></li>
              <li><hr class="dropdown-divider" *ngIf="securityService.hasRoleIn(['ADMIN'])" ></li>
              <li><a class="dropdown-item small-dropdown-item" routerLink="/admin/update-pm-scope-canals-frequency"
                     *ngIf="securityService.hasRoleIn(['ADMIN'])" >MODIFIER LES PARAMETRES D'UN MODELE</a></li>
              <li><a class="dropdown-item small-dropdown-item" routerLink="/admin/update-pm-features"
                     *ngIf="securityService.hasRoleIn(['ADMIN'])" >MODIFIER LES FEATURES D'UN MODELE</a></li>
            </ul>
          </li>

          <li class="nav-item" style="margin-left: 20px;">
            <a class="nav-link active" aria-current="page" routerLink="/admin/features">
              <img src="/assets/images/adjustments.png" alt="Bootstrap" width="25" height="25"> FEATURES
            </a>
          </li>

        <li class="nav-item dropdown" style="margin-left: 20px;">
          <a class="nav-link link-dark dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/assets/images/project-plan.png" alt="Bootstrap" width="25" height="25"> PARAMETRES
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item small-dropdown-item" routerLink="/admin/scopes"> MARCHES DES MODELES PREDICTIFS </a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item small-dropdown-item" routerLink="/admin/canals"> CANAUX DES MODELES PREDICTIFS </a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item small-dropdown-item" routerLink="/admin/frequency"> FREQUENCES DES MODELES PREDICTIFS </a></li>
          </ul>
        </li>

          <li class="nav-item" style="margin-left: 20px;">
            <a class="nav-link active" aria-current="page" routerLink="/admin/output-models"
               *ngIf="securityService.hasRoleIn(['ADMIN'])" >
              <img src="/assets/images/upload.png" alt="Bootstrap" width="25" height="25"> OUTPUT DES MODELES PREDICTIFS
            </a>
          </li>

      </ul>
        <!-- Left links -->
        <!-- End Collapsible wrapper -->
    </div>
        <!-- Setting dropdown -->
        <!-- End Setting dropdown -->
  <div class="container col-1">
    <small class="nav-item"><b>{{ securityService.getUserName() }}</b></small>
    <a
      class="nav-link dropdown-toggle"
      href="#"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false">
      <img class="rounded-start" src="./assets/images/shutdown.png" height="30" />
    </a>
    <ul class="dropdown-menu dropdown-menu-sm-end">
      <li>
        <a
           class="dropdown-item small-dropdown-item" (click)="handleLogout()">
          <img src="/assets/images/export.png" alt="Bootstrap" width="25" height="25"> DECONNEXION
        </a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

</div>
