
<div class="container mt-5">

        <div class="row justify-content-center">

          <div class="col-md-4 col-xl-4">
            <div class="card bg-c-red order-card">
              <div class="card-block">
                <h2 class="text-right">
                  <p class="m-b-0"><strong> Nombre total des Modéles Prédictifs <br/> en SGMA </strong></p>
                  <ng-container *ngIf="listOfPredictiveModel | async as predictiveModels">
                    <ng-container *ngFor="let pm of predictiveModels; let i = index;"></ng-container>
                    <img src="/assets/images/analysis.png" alt="Bootstrap" width="90" height="90">
                    <span class="styled-span f-right">{{(predictiveModels.length)}}</span> <!-- Display the total count PM -->
                    <br>
                    <span type="button" class="btn btn-outline-dark btn-sm rounded-pill f-right" [routerLink]="['/admin/predictive-models']">
                       <strong>Découvrir &nbsp;&nbsp;</strong><img src="/assets/images/double-right.png" alt="Bootstrap" width="15" height="15">
                    </span>
                  </ng-container>
                </h2>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-xl-4">
            <div class="card bg-c-red order-card">
              <div class="card-block">
                <h2 class="text-right">
                  <p class="m-b-0"><strong>Nombre des Modéles Prédictifs <br/> en Production </strong></p>
                  <img src="/assets/images/cost.png" alt="Bootstrap" width="90" height="90">
                  <span class="styled-span f-right">{{ totalProductionCount }}</span> <!-- Display the total count PM in Prod -->
                  <br>
                  <span type="button" class="btn btn-outline-dark btn-sm rounded-pill f-right" [routerLink]="['/admin/predictive-models']">
                       <strong>Découvrir &nbsp;&nbsp;</strong><img src="/assets/images/double-right.png" alt="Bootstrap" width="15" height="15">
                  </span>
                </h2>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-xl-4">
            <div class="card bg-c-red order-card">
              <div class="card-block">
                <h2 class="text-right">
                  <p class="m-b-0"><strong> Nombre des Modéles Prédictifs <br/> en Pilote</strong></p>
                  <img src="/assets/images/coding.png" alt="Bootstrap" width="90" height="90">
                  <span class="styled-span f-right">{{ totalPilotCount }}</span> <!-- Display the total count PM in Pilot-->
                  <br>
                  <span type="button" class="btn btn-outline-dark btn-sm rounded-pill f-right" [routerLink]="['/admin/predictive-models']">
                       <strong>Découvrir &nbsp;&nbsp;</strong><img src="/assets/images/double-right.png" alt="Bootstrap" width="15" height="15">
                  </span>
                </h2>
              </div>
            </div>
          </div>

        </div>

      </div>

      <app-filter-by-name-and-date></app-filter-by-name-and-date>
